template(name="aboutUs")
  .container-fluid
    .row.aboutus
      .col-md-4
          img(src="images/adrian.jpg").img-circle.portrait
          .caption
            h3 Adrian


      .col-md-4
          img(src="images/c3h3.jpg").img-circle.portrait
          .caption
            h3 c3h3

      .col-md-4
          img(src="images/hsiang.jpg").img-circle.portrait
          .caption
            h3 hsiang
      .col-md-4.col-md-offset-2
          img(src="images/liangcc.jpg").img-circle.portrait
          .caption
            h3 liangcc

      .col-md-4
          img(src="images/ning.jpg").img-circle.portrait
          .caption
            h3 Ning