template(name="aboutUs")
  .container-fluid
    .row.aboutus
      .col-md-3
          img(src="images/adrian.jpg").img-circle.portrait
          .caption
            h3 Adrian
            
            
      .col-md-3
          img(src="images/c3h3.jpg").img-circle.portrait
          .caption
            h3 c3h3

      .col-md-3
          img(src="images/hsiang.jpg").img-circle.portrait
          .caption
            h3 hsiang
      .col-md-3
          img(src="images/liangcc.jpg").img-circle.portrait
          .caption
            h3 liangcc