template(name="aboutUs")
  .container-fluid
    .row.aboutus
      .col-md-3
          img(src="http://photos4.meetupstatic.com/photos/member/9/d/c/8/member_172060392.jpeg").img-circle.portrait
          .caption
            h3 Adrian
            
            
      .col-md-3
          img(src="http://photos1.meetupstatic.com/photos/member/4/5/d/0/member_74897872.jpeg").img-circle.portrait
          .caption
            h3 c3h3

      .col-md-3
          img(src="http://photos2.meetupstatic.com/photos/member/4/3/d/2/member_228617362.jpeg").img-circle.portrait
          .caption
            h3 hsiang
      .col-md-3
          img(src="http://photos2.meetupstatic.com/photos/member/9/7/9/c/member_165218812.jpeg").img-circle.portrait
          .caption
            h3 liangcc