head
  title Agilearning
  
  link(type="text/css",rel="stylesheet",href="https://vjs.zencdn.net/4.5.1/video-js.css")  
  script(src="https://vjs.zencdn.net/4.5.1/video.js")
  script(src="/js/youtube.js")