head
  title Agilearning

  link(type="text/css",rel="stylesheet",href="https://vjs.zencdn.net/4.5.1/video-js.css")
  script(src="https://vjs.zencdn.net/4.5.1/video.js")
  script(src="/js/youtube.js")

  link(type="text/css",rel="stylesheet",href="/css/jquery.countdown.css")
  script(src="/js/jquery.plugin.min.js")
  script(src="/js/jquery.countdown.min.js")
  script(type="text/javascript" src="/js/ZeroClipboard.min.js")
