head
  title Agilearning
  
  link(type="text/css",rel="stylesheet",href="https://vjs.zencdn.net/4.5.1/video-js.css")  
  script(src="https://vjs.zencdn.net/4.5.1/video.js")
  script(src="http://guaries.opennote.info/wp-content/uploads/2014/09/youtube.js")