template(name="layout")
  +navBar
  +yield

template(name="navBar")
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle(type="button",data-toggle="collapse",data-target=".navbar-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar

        a.navbar-brand(href="/") Agilearning
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          //- li.nav.navbar-nav
          //-   a(href="{{pathFor 'learningResources'}}") Learning Resources

          //- li.nav.navbar-nav
          //-   a(href="{{pathFor 'about'}}") About

          //- li.nav.navbar-nav
          //-   a(href="{{pathFor 'howToUse'}}") How to use it ?

          //- li.nav.navbar-nav
          //-   a(href="{{pathFor 'ipynb'}}") Try IPyNB

          //- li.nav.navbar-nav
          //-   a(href="{{pathFor 'rstudio'}}") Try RStudio
          
          if user
            li.nav.navbar-nav
              a(href="{{pathFor 'profile'}}") Profile

          
          li.nav.navbar-nav
            a(href="{{pathFor 'environments'}}") Environments

          li.nav.navbar-nav
            a(href="{{pathFor 'courses'}}") Courses

          //- li.nav.navbar-nav
          //-   +voteForMeLinks

          

          li.nav.navbar-nav
            a(href="{{pathFor 'wishFeatures'}}") Wish Features

          
          if showAdminPage
            li.nav.navbar-nav
              a(href="{{pathFor 'admin'}}") Admin


        ul.nav.navbar-nav.navbar-right
          li.nav.navbar-nav
            img.user-img.img-circle(src="{{user.profile.photo.thumb_link}}")
          li
            +loginButtons

  if alertMessage
    .container
      .alert.alert-danger(role="alert") {{alertMessage}}

template(name="about")
  .container
    .row.clearfix
      .col-md-6.column
        //- +voteForMe

        h1 Motivation
        p Because our community hold MLDM Monday event (MLDM stands for Machine Learning and Data Mining) every week in Taipei,
          | some of events were in tutorial forms. In those tutorial events,
          | we found the most difficult thing which barriered students to hands on the programs is
          | the environment synchronization!
        i Some codes could be executed in teacher's computer, but could not in student's.
        p Fortunately, we meet docker ......

        h1 Technologies in this project ...
        ul
          li
            h3
              a(href="https://www.docker.com/") Docker
          li
            h3
              a(href="https://www.meteor.com/") Meteor
          li
            h3
              a(href="https://github.com/apocas/dockerode") dockerode
          li
            h3
              a(href="https://cloud.google.com/compute/") Google Computer Engine


      .col-md-6.column

        h1 Dockerfiles in this project ...
        ul
          li
            h3
              a(target="_blank",href="https://registry.hub.docker.com/u/c3h3/oblas-py278-shogun-ipynb/") c3h3/oblas-py278-shogun-ipynb
            p (used in Try IPyNB)
          li
            h3
              a(target="_blank",href="https://registry.hub.docker.com/u/rocker/rstudio/") rocker/rstudio
            p (used in Try RStudio)

          li
            h3
              a(target="_blank",href="https://registry.hub.docker.com/u/c3h3/learning-shogun") c3h3/learning-shogun
            p (used in learning shogun)

          li
            h3
              a(target="_blank",href="https://registry.hub.docker.com/u/c3h3/dsc2014tutorial") c3h3/dsc2014tutorial
            p (used in DSC2014Tutorial Series)

        h1 Fetures In the future ...
        ul
          li
            h3 Create Study Materials & Create Docker Images & Upload them Up

          li
            h3 Manage students' resources and docker instances


template(name="howToUse")
  .container
    .row.clearfix
      .col-md-6.column
        //- +voteForMe

        h1 How to use it NOW?
        ul
          li
            h3
              a(href="{{pathFor 'ipynb' }}") Try IPython Notebook
          li
            h3
              a(href="{{pathFor 'rstudio' }}") Try RStudio
              h4 Account: rstudio / Password: rstudio
          li
            h3
              a(href="{{pathFor 'courses'}}") Try Learning from Study Materials

        h1 Video
        iframe#ytplayer(type="text/html",width="100%", height="400px",src="http://www.youtube.com/embed/f1IAuMTUD2k",frameborder="0",allowfullscreen)


      .col-md-6.column
        h1 Please DON'T Do ...
        h4 (Because you are the root on each docker instance ... )
        ul
          li
            h2 DON'T ATTACT ME ...
            h3 ( please ~~~ )
          li
            h2 DON'T USE IMAGE TO ATTACT OTHERS ...
            h3 ( please ~~~ )
          li
            h2 DON'T USE TOO MANY MEMORY AND CPU  ...
            h3 ( please leave some resources to others ~~~ )
          li
            h2 DON'T DONWLOAD TOO LARGE DATASET  ...
            h3 ( please leave some resources to others ~~~ )



template(name="wishFeatures")
  .container
    .row.clearfix
      .col-md-12.column
        +wantedFeatureEditBoard
        hr
        +wantedFeatureTabel
        //- +chatroom

template(name="pleaseLogin")
  .container
    h2 Please Login !

