[submodule "dockers/c3h3/ipython/agilearning"]
	path = dockers/c3h3/ipython/agilearning
	url = https://github.com/c3h3/docker-ipython.git
[submodule "dockers/c3h3/ipython/latest"]
	path = dockers/c3h3/ipython/latest
	url = https://github.com/c3h3/docker-ipython.git
[submodule "dockers/c3h3/learning-shogun/agilearning"]
	path = dockers/c3h3/learning-shogun/agilearning
	url = https://github.com/c3h3/docker-learning-shogun.git
[submodule "dockers/c3h3/learning-shogun/latest"]
	path = dockers/c3h3/learning-shogun/latest
	url = https://github.com/c3h3/docker-learning-shogun.git
