template(name="landing")
  .container.landing-page-container
    .row
      .col-md-8.col-md-offset-2
        h1.brand-heading AGILEARNING
        h3 community, learning, agility
    .row
      .col-md-2.col-md-offset-4
        a(href="{{pathFor 'courses'}}").btn.btn-primary.btn-lg View Courses
      .col-md-2
        a#signup.btn.btn-success.btn-lg Signup Now
