template(name="classroom")
  .container
    .row.clearfix
      .col-md-12.column

        ul.nav.nav-tabs
          li.active
            a(data-toggle="tab", href="#CourseInfo") Info

          if course.video
            li
              a(data-toggle="tab", href="#Video") Video
          
          if course.dockerImage
            li
              a(data-toggle="tab", href="#Environment") Environment
          
          if course.slides
            li
              a(data-toggle="tab", href="#Slides") Slides

          if isInRole "admin" classroomAndId
            li
              a(data-toggle="tab", href="#Admin") Admin
          
          if isInRole "teacher" classroomAndId
            li
              a(data-toggle="tab", href="#Teacher") Teacher
          
          if isInRole "student" classroomAndId
            li
              a(data-toggle="tab", href="#Student") Student


        .tab-content
          .tab-pane.fade.in.active#CourseInfo
            br 
            +courseImage courseDoc=course width="300px"
            h2 {{course.courseName}}
            p {{course.description}}

          if course.video
            .tab-pane.fade#Video
              video.video-js.vjs-oudefault-skin(id="vid",src="",controls,width="100%",height="700px",data-setup='{ "techOrder": ["youtube"], "src": "{{course.video}}" }')
                    
          if course.dockerImage
            .tab-pane.fade#Environment
              br
              input.connectEnvBtn.btn.btn-default(value="Connect Environment Again")
              iframe#docker(src="http://{{rootURL}}:{{docker.servicePort}}",servicePort="{{docker.servicePort}}",rootURL="{{rootURL}}", width="100%", height="550px", scrolling="yes")

          
          if course.slides
            .tab-pane.fade#Slides
              iframe#slides(src="{{course.slides}}", width="100%", height="700px", scrolling="auto")

          if isInRole "admin" classroomAndId
            .tab-pane.fade#Admin
              h2 You are admin in this classroom
              h2 TODO: student list 
              h2 TODO: make student as teacher or admin
          
          if isInRole "teacher" classroomAndId
            .tab-pane.fade#Teacher
              h2 TODO: Boardcast Message
              h2 TODO: Student List
              h2 TODO: Realtime Exercise
          
          if isInRole "student" classroomAndId
            .tab-pane.fade#Student
              h2 TODO: Recieve Teacher's Boardcast
              h2 TODO: Help Btn
              
          