template(name="feedback")
  #feedback
    #feedback-box
      .panel.panel-info
        .panel-heading
          a(data-toggle='collapse', href='#collapse-body', aria-expanded='false', aria-controls='collapse-body')
            h2.panel-title
              i.fa.fa-smile-o 
              | Feedback

        #collapse-body.panel-body.collapse
          if submitted
            .text-center
              p Thank you for the feedback
              h2
                i.fa.fa-smile-o.fa-5x
              button#send-another.btn.btn-success Send Another
          else
            +autoForm id="feedbackForm" schema="FeedbackSchema" type="method" meteormethod="sendFeedback"
              +afQuickField name="type"
              +afQuickField name="title"
              +afQuickField name="description"
              button(type="submit").btn.btn-primary.btn-lg Done!
