template(name="feedback")
  #feedback(data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.")
    #feedback-box
      .panel.panel-info
        .panel-heading.feedback-header
          h2.panel-title
            i.fa.fa-smile-o 
            | Feedback
          //a#feedback-pop(data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.") 12345

        #collapse-body.panel-body.collapse
          if submitted
            .text-center
              p Thank you for the feedback
              h2
                i.fa.fa-smile-o.fa-5x
              button#send-another.btn.btn-success Send Another
          else
            +autoForm id="feedbackForm" schema="FeedbackSchema" type="method" meteormethod="sendFeedback"
              +afQuickField name="type"
              +afQuickField name="title"
              +afQuickField name="description"
              button(type="submit").btn.btn-primary.btn-lg Done!

