template(name="feedbackDiscussion")
  .tab-pane.fade#feedbackDiscussion
    h2 Rate your favorite feature 
      | #[small & Hate the most annoying bug]
      
    +reactiveTable settings=settings
    
template(name="feedbackType")
  if isWish type
    span.fa-stack.fa-lg
      i.fa.fa-circle.fa-stack-2x
      i.fa.fa-birthday-cake.fa-stack-1x.fa-inverse
  else
    span.fa-stack.fa-lg
      i.fa.fa-circle.fa-stack-2x
      i.fa.fa-bug.fa-stack-1x.fa-inverse