#feedback {
  width: auto;
  height: auto;
  position: fixed;
  z-index: 100000004;
  display: block;
  visibility: visible;
  overflow-y: hidden;
  bottom: 0px;
  left: 75%;
}

#feedback-box > .panel {
  margin-bottom: 0px;
}