template(name="feedback")
  #feedback
    #feedback-box
      .panel.panel-info
        .panel-heading
          a(data-toggle='collapse', href='#collapse-body', aria-expanded='false', aria-controls='collapse-body')
            h3.panel-title 
              i.fa.fa-smile-o 
              | Feedback

        #collapse-body.panel-body.collapse
          p would you like to give us some feedback?
          