template(name="settings")
  +profile
template(name="profile")
  .container
    .row.clearfix
      .col-md-3.column
      .col-md-6.column
        +public_profile

template(name="public_profile")
  h2 {{user.profile.name}}
  hr
  ul
    li country : {{user.profile.country}}
    li city : {{user.profile.city}}
  hr
  .show-profile
    if user.profile.email
      h3 email: {{user.profile.email}}
        input.btn.btn-primary(value="edit" type="button")
    else
      h3 email: please set email
          input.btn.btn-primary(value="edit" type="button")

  .profile-editor
    +autoForm id="profileUpdate" schema="SettingSchema" type="method" meteormethod="updateProfile"
      if afFieldIsInvalid name="email"
        strong {{{afFieldMessage name="email"}}}
      else
        p new email
      +afFieldInput name="email"
      br
      input.btn.btn-success(type="submit")
//- +accountSet
//- template(name="accountSet")
//-   +bound

//- template(name="bound")
//-   input.btn.connect.github(type="button", value="connect github")

//-   input.btn.connect.twitter(type="button", value="connect twitter")
//-   input.btn.connect.facebook(type="button", value="connect facebook")
//-   input.btn.connect.meetup(type="button", value="connect meetup")
