template(name="resume")
  .container
    .row.clearfix
      .col-md-3.column
        +resume_profile
      .col-md-9.column
        h2 Courses joined

        h2 Learning resources shared

        h2 Forum participated

        h2 Some other awesome things done

template(name="resume_profile")
  if field "photo_link"
    img(src="{{field 'photo_link'}}").img-rounded
  h2 {{field "name"}}
  if field "email"
    p {{field "email"}}
  if field "hometown"
    h4 {{field "hometown"}}

  if field "organization"
    h4 {{field "organization"}}
  if field "description"
    p {{field "description"}}
  //- a(href="{{pathFor 'resume' userId=user._id}}") see my resume


template(name="resume_setting")
  h2 Resume Setting

  +quickForm id="profileUpdate" schema="profileSchema" type="method" meteormethod="updateResume" doc=doc

template(name="privacy_setting")
  h2 Privacy Settings
    |#[small What shows up on my resume]

  +quickForm id="privacyUpdate" schema="privacySchema" type="method" meteormethod="updatePrivacy" doc=privacyDoc

  ul
    li Courses
    li Slides
    li videos
