template(name="discussions")
  .container
    .row.clearfix
      .col-md-12.column

        ul.nav.nav-tabs
          li.active
            a(data-toggle="tab", href="#feedbackDiscussion") Wish & Bugs
          li
            a(data-toggle="tab", href="#forums") Forums
          li
            a(data-toggle="tab", href="#chatrooms") Chatrooms
          
        .tab-content
          .tab-pane.fade.in.active#feedbackDiscussion
            +feedbackDiscussion
          .tab-pane.fade#forums
            +forums
          .tab-pane.fade#chatrooms
            +chatroomsPage
          

