
template(name="chatroom")
  .chatroom
    h2 Discuss:
    hr
    input.postChatMsg(placeholder="Chat Message")
    hr

    .chats 
      each chats
        p {{userName}}:
        p {{msg}}
        p(style="font-size:8px") {{createAt}}
        hr
        