
template(name="adminPageDockerServersTable")

  button(type="button").btn.btn-warning#refresh-monitor Refresh
  +reactiveTable settings=settings


template(name="adminPageDockerServerImagesTable")
  +reactiveTable settings=settings


template(name="adminPageDockerServerContainersTable")
  +reactiveTable settings=settings


template(name="adminPageDockerServerContainersTablePortsField")
  ul
    each Ports
      li {{IP}}:{{PublicPort}} ->  {{PrivatePort}}/{{Type}}


template(name="adminPageDockerServerContainersTableRemoveContainerBtnField")
  botton.removeContainerBtn.btn.btn-warning(container_id="{{Id}}") Remove
