template(name="envTypesTable")
  .col-md-6.column
    +reactiveTable settings=settings
    hr     
    br
    
    +quickForm id="envTypeCreator" schema="EnvTypesSchema" type="method" meteormethod="createEnvType" 
    //- +autoForm id="envTypeCreator" doc=testEnvTypeData schema="EnvTypesInsertSchema" type="method" meteormethod="createEnvType" 
    //-   +afQuickField name="publicStatus"

template(name="envTypePortsField")
  ul
    each configs.servicePorts
      li {{port}} ({{type}})

template(name="envTypeEnvsField")
  ul
    each configs.envs
      if mustHave
        li {{name}} (MUST HAVE)
      else
        li {{name}}
