template(name="forums")
  .tab-pane.fade.in.active#forums
    +postsFilter


template(name="postsFilter")
  .list-group
    each fcResults
      a(href="#").list-group-item.list-group-item-info
        .row
          .col-md-9
            h3= title
            | {{partOf content}}
          .col-md-3.bottom-aligned
            img(src=userAvatar).img-circle.thumb
            small {{livestamp createdAt}} by
            | {{userName}}