#new-message-text {
  resize: vertical;
}

.message-content {
  white-space: pre;
  overflow: auto;
}

.leave-room:hover {
  text-decoration: none;
}

.delete-room:hover {
  text-decoration: none;
}

html {
  overflow-y: scroll;
}