template(name="serverPage")
  h2 I am server page
  hr
  .container
    .row.clearfix
      .col-md-3.column
      .col-md-6.column
        h2 Pull image
        +pullImageForm
        hr
        //- h2 Docker Server Images
        //- +adminPageDockerServerImagesTabel
      .col-md-3.column
