

template(name="course")
  .container
    .row.clearfix
      //- .col-md-6.column
        
      .col-md-10.column
        if course.video
          hr
          h2 Video:
          a(target="_blank",href="{{course.video}}") 
            h4 (Open At New Tab)
          video.video-js.vjs-default-skin(id="vid",src="",controls,width="100%",height="700px",data-setup='{ "techOrder": ["youtube"], "src": "{{course.video}}" }')
        hr
        h2 Docker:
        input.connectBt.btn.btn-default(value="Try Docker Instance:")        
        iframe#docker(src="http://{{rootURL}}:{{docker.servicePort}}", width="100%", height="550px", scrolling="yes")

        hr
        if course.slides
          h2 Reference: 
          iframe#slides(src="{{course.slides}}", width="100%", height="700px", scrolling="auto")
      
      .col-md-2.column
        +chatroom



template(name="courses")
  .container
    .row.clearfix
      .col-md-12.column
        //- +voteForMe
        hr
        h2 Add New Course
        
        +quickForm id="demo" schema="coursesSchema" type="method" meteormethod="createCourse" template="bootstrap3-inline" label-class="sr-only" afFieldInput-placeholder="schemaLabel"
        
        hr
        h2 Study Materials:
        table.table.table-hover
          thead
            th Name
            th Docker
            th Ref. (Slide/Note/Site)
            th Video
            th Description
            th Creator's Name
            th Create / Delete
          tbody
            //- if isAdmin
            //-   tr
            //-     td 
            //-       input.courseName
            //-     td
            //-       input.dockerImage
            //-     td
            //-       input.slides
            //-     td
            //-       input.description
            //-     td
            //-       p {{user.profile.name}}    
            //-     td
            //-       input.createBt.btn.btn-default(value="Create")


            tr
              td 
                a(href="{{pathFor 'ipynb'}}") Try IPyNB
              td 
                a(target="_blank",href="https://registry.hub.docker.com/u/c3h3/oblas-py278-shogun-ipynb") c3h3/oblas-py278-shogun-ipynb
              td 
                p Link
              td 
              td 
              td 

            tr
              td 
                a(href="{{pathFor 'rstudio'}}") Try RStudio
              td 
                a(target="_blank",href="https://registry.hub.docker.com/u/rocker/rstudio") rocker/rstudio
              td 
                p Link
              td 
              td 
              td 


            each courses
              tr
                td 
                  a(href="{{pathFor 'course' cid=_id}}") {{courseName}}
                td 
                  a(target="_blank",href="https://registry.hub.docker.com/u/{{dockerImage}}") {{dockerImage}}
                td 
                  a(target="_blank",href="{{slides}}") Link
                td 
                  if video 
                    a(target="_blank",href="{{video}}") Video
                td {{description}}
                td {{creatorName}}
                td unfeatured 




template(name="analyzer")
  .container
    //- +voteForMe
    hr
    a.btn.btn-default(target="_blank",href="{{baseImageUrl}}") Browse Base Image ({{docker.imageId}}) on Docker Hub      
    hr
    //- a.goBt.btn.btn-default(target="_blank",href="http://{{rootURL}}:{{docker.servicePort}}") Go to {{name}} page  
    //- hr
  .container
    .col-md-10.column
      .tabbable
        .tab-pane.active
        
          input.connectBt.btn.btn-default(value="Connect to Docker")        
          iframe#docker(src="http://{{rootURL}}:{{docker.servicePort}}", width="100%", height="550px", scrolling="yes")
            p Your browser does not support iframes.

    .col-md-2.column
      +chatroom

