template(name="userStatus")
  .container
    .row.clearfix
      .col-md-4.well
        h3 Instructions
          ul
            li Log in with any username.
            li Log in from other computers with the same username or open multiple tabs. These will appear as sessions/connections under the same user.
            li Click or keypress events reset the idle timer. The default idle threshold is 30 seconds.
            li Idle session information is transmitted to the server and multiplexed into the user document.
            li Play with the idle timer to try different client-side settings.
            li Click 'Resync Time' a few times to see the variance in TimeSync.

        +login
        +status userStatus
      
      .col-md-8
        +serverStatus